<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Nearby Doctors</title>
    <link rel="icon" href="/images/image.ico" type="image/x-icon">
<style>
    html, body {
    height:100%; width:100%;}

    #map{
        height : 100%; width : 100%; top : 0; left : 0;position: absolute; z-index : 200;
    }
</style>

</head>
<body> 
    <div class="container">
        <div>
            <div id="map-canvas">
            <iframe id='map'
                    src="https://maps.google.com/maps?q=hospitals%20near%20me&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"></iframe>   
            </div>
            </div>
        </div>
</body>
</html>